{% extends 'base.html' %}
{% block title %}
修改密码
{% endblock %}
{% block content %}
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h3 mb-0 text-gray-800" align="center">修改密码</h1>
            <a href="#" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i class="fas fa-download fa-sm text-white-50"></i> 我是装饰品</a>
          </div>

    <form class="user" method="post">
        {% csrf_token %}
        <div class="form-group">
            <input type="password" class="form-control form-control-user" name="old_password"
                   aria-describedby="emailHelp" placeholder="请输入原密码...">
        </div>
        <div class="form-group">
            <input type="password" class="form-control form-control-user" name="new_password1"
                   placeholder="请输入新密码...">
        </div>
        <div class="form-group">
            <input type="password" class="form-control form-control-user" name="new_password2"
                   placeholder="请再次输入新密码...">
        </div>
        <hr>

        <p style="color: red">
            {{ content }}
        </p>
        <hr>
        <input type="submit" value=" 确认修改密码" class="btn btn-primary btn-user btn-block">

    </form>
{% endblock %}